<footer class="site-footer">
<div class="container footer-inner">


<div class="footer-col col-1">
<p>The Met2Adapt Doctoral Network<br />
		  National Technical University of Athens,<br/>
		  School of Civil Engineering,<br/>
		  Laboratory for Structural Analysis and Aseismic Research,<br />
		  9 Iroon Polytechneiou st.<br />
		  NTUA Zografou Campus, Greece, 15780 <br />
            (<a href="https://www.google.com/maps/place/School+of+Civil+Engineering/@37.9768088,23.7786468,19.58z/data=!4m12!1m6!3m5!1s0x14a19740180c6e35:0x36ea0453d9a5b61c!2sSecretariat,+School+of+Civil+Engineering,+NTUA!8m2!3d37.976605!4d23.7787197!3m4!1s0x0:0xd4676bf12d7b7605!8m2!3d37.9768576!4d23.7787981">Maps</a>, <a href="https://www.ntua.gr/en/contact/general-information">Directions</a>)</p>
</div>

<div class="footer-col col-2">
<p>Coordinator<br />
Dr. Savvas Triantafyllou, Associate Professor</p>
</div>

<div class="footer-col col-3">
  <div class="col-3-content">
    <div class="col-3-text">
      {{ site.footer.col3 | default: "Funded by the European Union" }}
    </div>
    <img src="{{ "/img/logos/eulogo.png" | relative_url }}" alt="European Union logo" class="eu-logo">
  </div>
</div>





</div>
</footer>

<script src="{{ "/js/main.js" | relative_url }}"></script>





 


