<head>
  <meta charset="utf-8" />
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ '/css/base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/layout.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/components.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/pages.css' | relative_url }}"> 
  <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
  <link rel="alternate icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">  
</head>


